NationalParks.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified">

	<xs:element name="NationalParks">
		<xs:annotation>
			<xs:documentation>This file represents instances of national parks</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NationalPark" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="name"/>
							<xs:element type="xs:string" name="phone" minOccurs="1" maxOccurs="unbounded"/>
							<xs:element name="address">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:int" name="number"/>
										<xs:element type="xs:string" name="street"/>
										<xs:element type="xs:string" name="city"/>
										<xs:element type="xs:string" name="state"/>
										<xs:element type="xs:int" name="zip"/>
									</xs:sequence>
									<xs:attribute type="xs:string" name="NearestAirport" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="rating" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
